@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
}


body{
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 100%, #80D0C7 100%);
}

.container{
	color: black;
	margin: 20px auto;
    width: 100%;
    max-width: 400px;
    height: 500px;
}

.title{
	color: white;
	font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

.input_box{
	width: 91%;
	padding: 5px;
	border: none;
}

.btn{
	margin-left: -5px;
    padding: 5px;
    border: none;
    width: 35px;
}

.btn:hover{
  	background-color: #00DBDE;
  	color: white;
}

li{
	font-size: 1.2rem;
	text-align: center;
	background-color: white;
	padding: 5px;
	width: 90%;
	margin:auto;
	margin-top: 10px;
	list-style: none;
}

li:hover{
	background-color: #00DBDE;
 	color: white;
}

.checked{
	text-decoration: line-through;
}
